@import '../abstracts/mixins';

body{
    font-family: "lato", "sans-serif";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey;
    // padding: 30px;
    overflow-x: hidden;
}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation-name: animationtest;
    animation-duration: 1s;
    /* tốc độ hiệu ứng */
    /* animation-iteration-count: infinite; */
    /* lặp liên tục hiệu ứng */
    /* animation-delay: 2s; */
    /* thời gian chờ bắt đầu hiệu ứng */
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */

    &--main{
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 15px;
        animation: moveInLeft 1s ease-out;

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
        animation: moveInRight 1s ease-out;

        @include respond(phone){
            letter-spacing: .5rem;
        }
    }
    
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    cursor: pointer;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 4.5rem;
    }
    
    &:hover{
        transform: skewX(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: .2);
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(phone){
        font-size: 2.5rem;
    }
}
.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
    }
}
